/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 0px;
$header-height: 75px;
$footer-height: 125.5px;

body,
body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn,
.global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1,
h2,
h3,
h1 span,
h2 span,
h3 span,
.nav-item {
  font-family: $font-family-title;
}

#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: 75px;
  }

  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header

header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
  }

  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home>header .title {
  box-shadow: none;
}

.home>header .outer-wrapper {
  padding: 0;
}

.home>header .title>.heading-group {
  width: 100%;
  text-align: center;
}

.home>header .title>.heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up,
.home>header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses,
.find-courses .courses {
  padding-top: 0;
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }

  .details .inner-wrapper>section {
    margin-bottom: 0;
  }

  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }

    strong {
      background-image: none;
      border-radius: 0;

      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses,
.university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}

.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}

.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}

.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}

/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  border-top: none;
  padding: 0px;
  background-color: transparent;
  background: none;
  clear: none;

  .wrapper-logo {
    display: none;
  }

  .copyright {
    display: none;
  }

  .nav-legal ul {
    display: inline-block;
  }

  footer#footer-openedx .footer-about-openedx a {
    float: none;
  }
}

.home header {
  box-shadow: none;
  background:transparent !important;;
  background-color:transparent !important;
}

.home>header .title {
  background:transparent !important;;
  background-color:transparent !important;
}

#content.content-wrapper {
  margin-top: 65px;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 4px;
}

html, body{
  height: 100%;
}

.height-total{
  height: 100%;
}
.login-register-content{
    display: flex !important;
    flex-wrap: inherit !important;
    height: 100% !important;
}

.image-fondo {
  background-repeat: no-repeat;
  background-image: url("/static/indigo-new/images/backgroun-imagen.jpg");
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.login-container {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.login-container div {
  flex-direction: column !important;
  text-align: center !important;
}


.btn-signin {
  background-color: #EDEFF0 !important;
  color: #142E58;
  padding: 10px 20px;
}

.home-color{
  color: #fff;
}
h2, .home>header .title>.heading-group p{
  color: #fff;
}

header .global-header  {
  border-bottom: none;
}


@media (max-width: 600px) {
  .image-fondo-login{
    display: none;
  }
  .image-fondo-login-logo {
    display: none;
  }
  .login-register{
    width: 100% !important;
  }
  .login-register input{
      display: block !important;
      width: 100% !important;
      margin-left: 20px !important;
      margin-right: 20px !important;
  }

  
  .login-register .action-primary{
    display: block !important ;
    width: 100% !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
  }

  
}

@media (min-width: 600px) {
  .image-fondo-login {
    background-repeat: no-repeat;
    background-image: url("/static/indigo-new/images/backgroun-imagen.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 40px;
    padding-right: 200px;
    padding-left: 200px;
    text-align: left;
    width: 65%;
  }

  .image-fondo-login-logo {
    width: 50px;
    margin: 0 auto;
  }

  .login-register{
    width: 35% !important;
  }
  .login-register input{
    width: 300px !important;
  }

  
  .login-register .action-primary{
    width: 300px !important;
  }
  
}


.login-register label{
  display: none !important;
  margin: 0px !important;
  color: transparent !important;
}

.login-register-content h2 {
  display: none !important;
  color: transparent !important;
}

.login-register .form-field .tip {

display: none !important;
color: transparent !important;
}

.login-register .form-field .field-link {
  margin: 0 auto !important;
  margin-bottom: 10px !important;
}

div#login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-register input{
  background-color: #EDEFF0 !important;
    text-align: center !important;
    color: #757576 !important;
    border-radius: 0 !important;
    height: 50px !important;
    border: none !important;
    margin: 0 auto !important;
    margin-bottom: 10px !important;
}


.login-register .action-primary {
  background-color: #158784 !important;
  color: #FFF !important;
  border-radius: 0 !important;
  height: 50px !important;
  border: none !important;
  margin: 0 auto !important;
}


h1{
  font-size: 32px !important;
  color: #1b3f6a !important;
}

h2{
  font-size: 16px !important;
  color: #1e9694 !important;
}

h3{
  font-size: 20px !important;
  color: #333333 !important;
}

body {
  font-size: 14px !important;
  color: #666666 !important;
  font-family: $font-family-title;
}

