<script>
    function
    load() {
        $('.course-search').hide();
        $('.courses-listing').hide();
        $('.wrapper-footer').hide();
        $('.global-header').hide();
    }
    window.onload = load;
</script>
<style>
    body,
    html {
        height: 100%;
    }

    body {
        margin: 0px;
        color: white;
    }
</style>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<div class="container" style="height: 100%; margin: 0px; max-width: none;">
    <div class="row image-fondo login-container">
        <div class="col-12 d-flex">
            <h1>{{INDIGO_TITLE_MESSAGE}}</h1>
            <p>{{INDIGO_SUBTITLE_MESSAGE}}</p>
        </div>
    </div>
</div>